backcall 
certifi
charset-normalizer
click
cycler
debugpy
decorator
entrypoints
filelock
fonttools
fsspec
huggingface-hub
idna
importlib-metadata
ipykernel
ipython
jedi
joblib
jupyter_client
jupyter_core
kiwisolver
matplotlib
matplotlib-inline
nest-asyncio
nltk
numpy
nvidia-cublas-cu11
nvidia-cuda-nvrtc-cu11
nvidia-cuda-runtime-cu11
nvidia-cudnn-cu11
packaging
pandas
parso
pexpect
pickleshare
Pillow
pip
prompt-toolkit
psutil
ptyprocess
Pygments
pyparsing
python-dateutil
pytz
PyYAML
pyzmq
regex
requests
safetensors
scikit-learn
scipy
sentence-transformers
sentencepiece
setuptools
six
threadpoolctl
tokenizers
torch
torchvision
tornado
tqdm
traitlets
transformers
typing_extensions
urllib3
wcwidth
wheel
zipp
transformers[torch]
datasets